.button {
  border: none;
  border-radius: 5px;
  height: 46px;
  background-color: white;

  &:-moz-focus-inner {
    border: 0;
  }

  &:hover {
    background-color: #ccc;
  }

  &:active {
    background-color: #ddd;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  }

  &:-moz-focusring {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  }

  &__carousel-item {
    outline: none;
    width: 46px;

    &_to-basket::after {
      content: url("./basket-small.png");
    }

    &_like::after {
      content: url("./heart-small.png");
    }
  }

  &__nav-item {
    margin-left: 10px;
    text-decoration: none;
    padding: 10px 15px;

    &_left::after {
      content: url("./arrow-left.png");
    }

    &_right::after {
      content: url("./arrow-right.png");
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &__form {
    height: 56px;

    &_order-now {
      width: 309px;
      color: #fff;
      background-color: #000;
    }

    &_to-basket {
      width: 56px;
      margin-left: 20px;
      border: 1px solid #e6e6eb;

      &::after {
        content: url("./basket-small.png");
      }
    }
  }
}
