.carousel {
  &__element {
    width: 300px;
    padding: 0 40px 20px 0;
    box-sizing: border-box;
  }

  &__button-block {
    visibility: hidden;
    width: 100%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    box-sizing: border-box;
  }

  &__item {
    &-info {
      text-align: center;
    }

    &-title {
      margin-bottom: 8px;
      font-size: 18px;
      overflow-wrap: break-word;
      width: 100%;
      padding: 0 5px;
      box-sizing: border-box;
    }

    &:hover .carousel__item-title {
      white-space: normal;
    }

    &:hover .carousel__button-block {
      visibility: visible;
    }
  }

  &__image {
    position: relative;
    width: 260px;
    overflow: hidden;

    & img {
      width: 260px;
      display: block;
      object-fit: contain;
    }
  }

  &__price-row {
    display: flex;
    justify-content: center;
  }

  &__price {
    font-size: 14px;

    &_old {
      margin-left: 1rem;
      text-decoration: line-through;
      color: grey;
    }
  }
}
