.product {
  &__window {
    position: relative;
    overflow: hidden;
    width: 100%;

    background-color: palevioletred;
    border: 1px solid red;
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    left: 0;
  }

  &__row-item {
    width: 300px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  &__item {
    &-info {
      text-align: center;
    }

    &-title {
      margin-bottom: 8px;
      font-size: 18px;
    }

    &:hover .product__button-block {
      visibility: visible;
    }
  }

  &__image {
    position: relative;
    width: 260px;
    overflow: hidden;

    & img {
    width: 260px;

      display: block;
      object-fit: contain;
    }
  }

  &__button-block {
    visibility: hidden;
    width: 100%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    box-sizing: border-box;
  }

  &__price-row {
    display: flex;
    justify-content: center;
  }

  &__price {
    font-size: 14px;

    &_old {
      margin-left: 1rem;
      text-decoration: line-through;
      color: grey;
    }
  }
}
