.form {
  &__item {
    margin-bottom: 48px;
    margin-left: 2px;

    &-name {
      margin-bottom: 25px;
      font-size: 16px;
    }

    & button {
      margin-right: 20px;
    }
  }

  &__select {
    display: flex;
    align-items: center;

    &_number {
      margin-left: 5px;
    }
  }

  &__quantity {
    font-size: 14px;
    margin-right: 20px;
  }

  &__controls {
    display: flex;
    margin-top: 5px;
  }
}
