.form {
  &__item {
    margin-bottom: 50px;

    &-name {
      margin-bottom: 20px;
    }

    & button {
      margin-right: 15px;
    }
  }

  &__select {
    display: flex;
    align-items: center;
  }

  &__quantity {
    font-size: 14px;
    margin-right: 15px;
  }

  &__controls {
    display: flex;
  }
}
