.content {
  width: 100%;

  &__link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

    &::after {
      content: "→";
      padding-left: 1rem;
    }

    &:hover {
      background-color: #ccc;
    }
  }
}
