.content {
  width: 100%;

  &__link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link::after {
    content: "→";
    padding-left: 10px;
    display: inline-block;
  }
}
