.carousel {
  &__slider {
    margin-bottom: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }

  &__title {
    margin: 0;
    font-size: 24px;
  }

  &__controls {
    display: flex;
  }

  &__viewport {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__item-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    left: 0;

    &_translate {
      transform: translateX(-150px);
    }
  }

  &__last-item {
    min-width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(244, 244, 244, 0.5);
  }

  &__see-more {
    margin-left: 50px;

    &-title {
      margin: 0 0 20px;
    }
  }
}
