.primary {
  position: relative;

  &__info {
    position: absolute;
    top: 20px;
    left: 80px;
  }

  &__link-block {
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;

    & a {
      color: white;
    }
  }
}
