.content {
  width: 100%;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    margin: 20px 0 50px;

    &-info {
      position: absolute;
      top: 20px;
      left: 20px;

      &_small {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
      }
    }
  }
}
