.products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;

  &__item {
    width: 260px;
    margin-right: 40px;

    &-info {
      text-align: center;
    }
  }
}
