.product {
  &__image {
    position: relative;
  }

  &__button-block {
    visibility: hidden;
    width: 100%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    box-sizing: border-box;
  }

  &__button {
    width: 46px;
    height: 46px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: lightpink;
    }

    &_to-basket:after {
      content: url('./basket-small.png');
    }

    &_like:after {
      content: url('./heart-small.png');
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &__item {
    width: 260px;
    margin-right: 40px;

    &-info {
      text-align: center;
    }

    &-title {
      margin-bottom: 8px;
      font-size: 18px;
    }

    &:hover .product__button-block {
      visibility: visible;
    }
  }

  &__price-row {
    display: flex;
    justify-content: center;
  }

  &__price {
    font-size: 14px;

    &:after {
      content: " $";
    }

    &_old {
      margin-left: 1rem;
      text-decoration: line-through;
      color: grey;
    }
  }
}
